.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background:linear-gradient(to right,#0f0c29,#302b63); /* Set your desired background color */
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top:-20%;
}

.audio-container {
     height: 450px;
      width: 350px;
      background:#f8f8f8;
      border-radius: 10px;
      border-radius: 0px 0px 5px rgb(228, 224, 224);
}
.button-container {
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}
.button-container button{
     font-size: 1rem;
     margin-left: 10px;
     background: cyan;
     border: none;
     outline: 0;
     padding: 10px;
     border-radius: 10px;
     font-weight: 500;
     box-shadow:  1px 2px 5px rgb(240, 236, 236);
     cursor: pointer;
}
.button-container p{
     font-size: 1rem;
     color: #fff;
     text-transform: uppercase;
}
